// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  top: 30px;
  right: 5px;
  background-color: white;
  padding: 10px;
  border: 1px solid $light-gray;
  width: 200px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  z-index: 1;
  font-family: $sans-serif;
}

.editions li:hover {
  background-color: $light-gray;
  text-decoration: none;
  border-radius: 2px;
  color: black;
}

.editions li a:hover {
  text-decoration: none;
}


.editions li {
  padding: 5px;
  text-transform: uppercase;
  color: $dark-gray;
  padding-top: 10px;
}

.editions {
  border-bottom: 1px solid $light-gray;
}

.dropdown-subtitle {
  font-size: 10px;
  text-transform: uppercase;
  color: $dark-gray;
  font-weight: bold;
  padding: 5px;
  display: block;
  padding-top: 10px;
}

.help li {
  padding: 5px;
  color: $blue;
  padding-top: 10px;
}


