.col {
  float: left;
  box-sizing: border-box;
}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 10px;
  padding-top: 10px;
  // width: 33.33333%;
}

[class*='col-']:last-of-type {
  margin-right: 0;
}

.col-left {
  width: 20%;
}

.col-middle {
  width: 46%;
}

.col-right {
  width: 34%;
}

@media all and (max-width: 1000px) {
  [class*='col-'] {
    width: 100%;
  }
}
